ion-label {
  color: #0074d9;
  font-weight: bold;
}

ion-textarea,
ion-input {
  border: 1px solid #0074d9;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}

button {
  margin-top: 16px;
}
